@font-face {
    font-family: coco;
    src: url(tccc-unitytext-bold.woff2);
}
#coco{
    width: 150px;
}
#logo{
    padding-left: 113px;
    padding-top: 13px;
}
.liv a{
    color: black;
}
.greater_than{
    font-size: 12px;
    padding-left: 4px;
    transition-duration: 0.5s;
}
.nav-link:hover >.greater_than{
    transform: rotate(90deg);
}
#head1{
    margin-top: 6.25rem;
}
.col_img{
    width: 34.375rem;
}
.exp{
    padding-top: 10rem;
    font-size: 33px;
    text-align: center;
}
.experiences{
    margin-bottom: 40px;
   
}

.explore_now{
    width: 60%;
    border-radius: 14px;
    background-color: transparent;
    border: 2px solid;
    font-weight: 500;
}
.explore_now:hover{
    background-color: rgb(172, 169, 169);
}
#head2{
    margin-top: 6.25rem;
}
.Sustainability{
    margin-bottom: 40px;
}
.Learn_more{
    text-decoration: none;
    color: black;
}
.Learn_more:hover{
    background-color: grey;
    color: beige;
}
#beach{
    padding-bottom: 27px;
}

.container_75_year{
    margin-top: 9.375rem;
}
.year75{
    position: relative;
    top: 8.75rem;
}
.card_75year{
    position: relative;
  
    padding: 6rem;
}
.Learn_more2{
    width: 60%;
    border-radius: 14px;
    background-color: transparent;
    border: 2px solid;
    font-weight: 500;
    margin-top: 37px;
    margin-left: 71px;

}
.brand_container{
    margin-top: 50px;
}
#view_all{
    position: relative;
    right: 26.8rem;
    width: 25rem;
}
#para{
    margin-top: 8rem;
    text-align: left;
}
.footer_blck{
    background-color: black;
}












@media only screen and (max-width:1200px){
    .image_adjust{
        flex-direction: column-reverse;
        padding: 0 5%;
        box-sizing: border-box;
    }

    .explore_now{
        width:100%;
        border-radius: 14px;
        background-color: transparent;
        border: 2px solid;
        font-weight: 500;
    }

    .exp{
        padding: 20px 0;
        font-size: 27.5px;
    }
    .col_img{
        width: 100%;
    }
    #card_one{
        margin-bottom: 40px;
        width: 100%;
    }
    .row_2{
        flex-direction: column-reverse;
    }
    .card_75year{
      padding: 0;
      width: 100%;
    }
    .year75{
       width: 100vw;
       position: relative;
       top: 0;
    }
    .Learn_more2{
        width: 80%;
    
    }
    body{
        margin: 0;
    }
    .Learn_more2{
        width: 80%;
    
    }
    
}